# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.0
  - nightly
matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true
notifications:
  email: false
env:
  - PYTHON=""

# uncomment the following lines to override the default test script
#script:
  # - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  # - julia -e 'Pkg.clone(pwd()); Pkg.build("TotalLeastSquares"); Pkg.test("TotalLeastSquares"; coverage=true)'
after_success:
  # push coverage results to Codecov
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
